<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>CONTACTO</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form [formGroup]="frm">
        <div class="form-group">
          <input type="text" formControlName="asunto" class="form-control" placeholder="Ingresa el asunto del mensaje"
            [ngClass]="{ 'is-invalid': (loginFormSubmitted && lf.asunto.invalid) || isLoginFailed,
            'is-valid': (loginFormSubmitted && !lf.asunto.invalid) }"
            required>
          <div *ngIf="loginFormSubmitted && (lf.asunto.invalid || lf.asunto.errors?.required)"
            class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Campo
            requerido</div>
        </div>
        <div class="form-group">
          <textarea type="text" formControlName="mensaje" class="form-control" placeholder="Escribe aquí tu mensaje"
            [ngClass]="{ 'is-invalid': (loginFormSubmitted && lf.mensaje.invalid) || isLoginFailed,
            'is-valid': (loginFormSubmitted && !lf.mensaje.invalid) }"
            required>
          </textarea>
          <div *ngIf="loginFormSubmitted && (lf.mensaje.invalid || lf.mensaje.errors?.required)"
            class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i> Campo
            requerido
          </div>
        </div>
        <div class="">
          <a class="btn btn-blue btn-block mt-4 mb-2" (click)="onSubmit()">Enviar mensaje</a>
        </div>

      </form>
    </div>
  </div>
</div>
