.separador {
  border: 0;
  height: 4px;
  background: linear-gradient(to right, #E31C79 0%, #E31C79 20%, #3ccce1 20%, #3ccce1 40%, #f7a11f 40%, #f7a11f 60%, #6ab336 60%, #6ab336 100%)
  }

.footer {
  background: #353a50;
	min-height: 20em;
	margin: 0 auto !important;
	text-align: center !important;
	display: flex;
}


.contenido-footer {

  padding: 2em 0 0 0;
 margin: 0 auto !important;
 text-align: center;
 border: 0px solid red;
   min-height: 15em;
   display: flex;

}

.contenido-footer .col1, .contenido-footer .col2, .contenido-footer .col3, .contenido-footer .col4 {

 padding: 2%;
 margin: .2em;
 border: 0px solid red;
 width: 20%;
 float: left;
}
.logo-white {

max-width: 70%;
 margin-top: 2em;

}
.contenido-footer .col2 ul li
{
 text-align: left;
 list-style: none;
 color: #fff;
 line-height: 2em;
 font-size: .7em;
 font-weight: 600;
}
.contenido-footer .col2 img {

 max-width: 15px;
 margin-right: 5px;
}
.contenido-footer .col3
{
 text-align: left;
 font-weight: 600;
 font-size: 1.2em;
 color: #fff;

}

.contenido-footer .col3 .input, .contenido-footer .col3 .input-fechanac, .contenido-footer .col3 .input-sexo
{

 height: 3.5em;
 margin: .15em 0;
 font-family: 'Montserrat', sans-serif;
 color: #353A50;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 border: 0px solid #bbbbbb;
 border-radius: 6px;
 font-weight: 600;
 padding: 1em;
 font-size: .45em;
 clear: both;
}


.contenido-footer .col3 .input
{
 width: 100%;

}


.contenido-footer .col3 .input-fechanac
{
 width: 50%;
 float: left;



}
.contenido-footer .col3 .input-sexo
{
 width: 96px !important;
 float: right;
 position: absolute;
 top: -18;
 margin: .1em 0 0 .2em;


}

.contenido-footer .col3 .input-mensaje
{
 height: 6em;
 margin: .15em 0;
 font-family: 'Montserrat', sans-serif;
 color: #353A50;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 border: 0px solid #bbbbbb;
 border-radius: 3px;
 font-weight: 600;
 padding: 1em;
 font-size: .45em;
 clear: both;
 width: 100%;

}

.btn-enviar{

	width: 28.5em !important;
	height: 5em;
	margin: .3em 0;
	font-family: 'Montserrat', sans-serif;
	border-radius: 3px;
	font-weight: 600;
	padding: 1em 13em;
	text-transform: uppercase;
	text-align: center;
	border: 0;
	color: #fff;
	background: #F7A120;
	font-size: .45em;
}

.llegoelmomento {
	width: 90px;
	margin: 2em;
	padding: 0;
	float: center;

}


