<!--Footer Starts-->
<hr class="separador m-0"/>
<footer class="footer ml-0">
  <div class="contenido-footer row">
    <div class="col1 col-3">
      <img src="../../../assets/img/icons/mexico-lindo-contigo-white.svg" class="logo-white" />
    </div>
    <div class="col2">
      <ul>
        <li><img src="../../../assets/img/icons/icono-perfil.svg" /> Perfil</li>
        <li><img src="../../../assets/img/icons/icono-miplan.svg" /> Plan</li>
        <li><img src="../../../assets/img/icons/icono-pagos.svg" />Pagos</li>
        <li><img src="../../../assets/img/icons/icono-beneficios.svg" />Beneficios</li>
        <li><img src="../../../assets/img/icons/icono-contacto.svg" />Contacto</li>
        <li><img src="../../../assets/img/icons/icono-quienes-somos.svg" />¿Quiénes somos?</li>
        <li><img src="../../../assets/img/icons/icono-aviso-privacidad.svg" />Privacidad</li>
      </ul>
    </div>
    <div class="col3 col-3">
      Escríbenos
      <form class="form-inline" role="form">
        <input type="text" class="input" placeholder="Nombre" />
        <input type="text" class="input" placeholder="Apellidos" />
        <input type="text" class="input" placeholder="E-mail" />
        <input
          type="text"
          class="input-fechanac"
          placeholder="Fecha de nacimiento"
        />
        <input type="text" class="input-sexo" placeholder="Género" />
        <input type="text" class="input-mensaje" placeholder="Mensaje" />
        <button type="button" class="btn-enviar">Enviar</button>
      </form>
    </div>
    <div class="col4 col-3">
      <img src="../../../assets/img/icons/llego-el-momento.svg" class="llegoelmomento" />
    </div>
  </div>
</footer>
<!--Footer Ends-->
